@model SearchResultsViewModel

<div>Results: @Model.BooksCount books</div>
@foreach (var book in Model.Books)
{
    <div class="col-md-4 text-center">
        @Html.DisplayFor(_ => book)
    </div>
}

<div >
    <ul class="pagination">
        @for (int i = 1; i <= Model.Pages; i++)
            {
            <li class="@(i == Model.Page ? "active" : "")">
                @*@Ajax.ActionLink(i.ToString(), "SearchBooks",
            new
            {
                SearchWord = Model.SubmitModel.SearchWord,
                SortBy = Model.SubmitModel.SortBy,
                ChosenGenresIds = Model.SubmitModel.ChosenGenresIds != null ? string.Join(";", Model.SubmitModel.ChosenGenresIds) : "",
                Page = i
            },
            new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "search-results",
                InsertionMode = InsertionMode.Replace         
            })*@
                <a class="page cursor-pointer" data-page="@i">@i</a>
            </li>
        }
    </ul>
</div>
